.user {
  font-weight: 500;
}

.community {
  font-weight: 500;
  color: #ff7800;
}

.title-content {
  line-height: normal;
  font-size: 13px;
}

.description-content {
  color: grey;
  line-height: normal;
  font-size: 13px;
}

.list-content {
}

.list-wrapper {
  cursor: pointer;
  margin-bottom: 3px;
  border-radius: 4px;
  &:hover {
    background-color: rgba(128, 128, 128, 0.274);
  }
}

.list-wrapper__no-read {
  cursor: pointer;
  margin-bottom: 3px;
  background-color: #ff770013;
  border-radius: 4px;
  &:hover {
    background-color: #ff77002f;
  }
}

.dot-active {
  height: 7px;
  min-width: 7px;
  border-radius: 50%;
  background-color: #ff7800;
}

.dot-noactive {
  height: 7px;
  min-width: 7px;
  border-radius: 50%;
  background-color: transparent;
}

.tab {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-active {
  cursor: pointer;
  border-bottom: 2px solid #ff7800;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-title {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}

.tab-title__active {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
}

.tab-box {
  margin-left: 7px;
  font-family: 500;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
  height: 18px;
  width: 18px;
}

.tab-box__active {
  margin-left: 7px;
  font-family: 500;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7800;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
  height: 18px;
  width: 18px;
}

.user-container {
  cursor: pointer;
  padding: 12px;
  .username {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2px;
  }
  .email {
    font-size: 13px;
    line-height: normal;
  }
}

.user-list__user {
  padding: 12px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4f4f4f;
  p {
    margin-left: 12px;
  }
}

.user-box {
  width: 300px;
  background-color: #ffffff;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.user-container {
  cursor: pointer;
  padding: 12px;
  .username {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2px;
  }
  .email {
    font-size: 13px;
    line-height: normal;
  }
}

.user-list {
  padding: 12px;
  font-size: 14px;
  color: #4f4f4f;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  p {
    margin-left: 12px;
  }
  &:hover {
    background-color: #4f4f4f2d;
  }
}

.user-list__user {
  padding: 12px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4f4f4f;
  p {
    margin-left: 12px;
  }
}

.user-list__dark-mode {
  padding-left: 12px;
  font-size: 14px;
  color: #4f4f4f;
  display: flex;
  cursor: default;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  p {
    margin-left: 12px;
  }
}

.divider {
  border-top: 1px solid #4f4f4f;
}

.divider-dark {
  border-top: 1px solid #e4e4e4;
}
