.chat-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.chat-wrapper__variant {
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 50vh;
}

.chat-box {
  height: calc(100vh - 64px);
  min-width: 550px;
  border-left: 0.01px solid #e4e4e4;
  background-color: white;
  border-radius: 0px;
}

.chat-box-color-light {
  border-left: 1px solid #e4e4e4;
}

.chat-box-color-dark {
  border-left: 1px solid #4f4f4f;
}

.chat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  min-width: 30px;
  &:hover {
    background-color: #e4e4e4;
  }
}

.chat-topbar {
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.chat-box__variant {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100px;
  padding: 10px;
  border: 0.01px solid #e4e4e4;
  background-color: white;
  cursor: pointer;
}

.chat-box__content {
  display: flex;
  height: 100%;
}

.color-light__content {
  border-top: 1px solid #e0e0e0;
}

.color-dark__content {
  border-top: 1px solid #4f4f4f;
}

.color-light {
  border-right: 1px solid #e0e0e0;
}

.color-dark {
  border-right: 1px solid #4f4f4f;
}

.chat-list {
  width: 100%;
  max-width: 220px;
  overflow: auto;
  scrollbar-width: thin;
  max-height: calc(100vh - 115px);
}

.chat-list__content {
  background-color: white;
  width: 100%;
}

.chat-list__box-content {
  cursor: pointer;
  border-radius: 4px;
  // padding: 7px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: -1px;
}

.chat-list__box-content-color-light {
  &:hover {
    background-color: #e4e4e4;
    .list-separator {
      border-bottom: 1px solid #e4e4e4;
    }
  }
}

.chat-list__box-content-color-dark {
  &:hover {
    background-color: #646464;
    .list-separator {
      border-bottom: 1px solid #4f4f4f;
    }
  }
}

.separator-color-light {
  border-bottom: 1px solid #e4e4e4;
}

.separator-color-dark {
  border-bottom: 1px solid #4f4f4f;
}

.chat-list__box-content-active-light {
  background-color: #e4e4e4;
}

.chat-list__box-content-active-dark {
  background-color: #646464;
}

.chat-list__team-content {
  cursor: pointer;
  border-radius: 4px;
  padding: 7px;
  user-select: none;
  &:hover {
    background-color: #e4e4e4;
  }
}

.chat-top__title {
  padding: 10px;
  background-color: white;
  p {
    font-size: 14px;
    font-weight: 500;
  }
}

.chat-content__box {
  height: 100%;
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-message {
  position: relative;
}

.action-chat {
  position: absolute;
  top: 0;
  right: 0;
  background: #f0f0f0;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.chat-bubbles {
  word-wrap: break-word;
  font-size: 14px;
  line-height: normal;
  width: 100%;
  position: relative;
  padding: 8px;
  display: flex;
  // .action-hover {
  //   display: none;
  //   position: absolute;
  //   box-shadow: 0px 0px 5.3px rgba(0, 0, 0, 0.028),
  //     0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 80px rgba(0, 0, 0, 0.07);
  //   top: -20px;
  //   right: 6px;
  //   display: none;
  //   gap: 10px;
  //   border-radius: 35px;
  //   padding: 5px;
  //   background-color: white;
  //   // border: 1px solid #e4e4e43a;
  // }
}

.chat-bubles-light {
  &:hover {
    background-color: #e4e4e43a;
    .chat-time__same-user {
      color: black;
    }
    .btn-action-hover__option {
      color: #4f4f4f !important;
    }
    // .action-hover {
    //   display: unset;
    // }
  }
}

.chat-bubles-dark {
  &:hover {
    background-color: #4f4f4f;
    .chat-time__same-user {
      color: black;
    }
    .btn-action-hover__option {
      color: #4f4f4f !important;
    }
    // .action-hover {
    //   display: unset;
    // }
  }
}

.action-hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.048), 0 2px 2px rgba(0, 0, 0, 0.048),
    0 4px 4px rgba(0, 0, 0, 0.048), 0 8px 8px rgba(0, 0, 0, 0.048);
  border-radius: 35px;
  padding: 5px;
  background-color: white;
  border: 1px solid #e4e4e43a;
}

.chat-text {
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 330px;
}

.btn-action-hover {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action-hover-light {
  &:hover {
    background-color: #e4e4e4;
  }
}

.action-hover-dark {
  &:hover {
    background-color: #646464;
  }
}

.btn-action-hover__option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: transparent;
  justify-content: center;
  cursor: pointer;
}

.chat-bubles_same-person {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 100%;
  align-items: start;
  position: relative;
}

.chat-time__same-user {
  font-size: 11px;
  color: black;
  min-width: 48px;
  margin-left: 54px;
}

.reaction-box {
  padding: 4px 8px 4px 8px;
  border: 1px solid #4f4f4f49;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ffffff;
  &:hover {
    background-color: #4f4f4f17;
  }
}

.reaction-box-dark {
  padding: 4px 8px 4px 8px;
  border: 1px solid #4f4f4f49;
  border-radius: 50px;
  cursor: pointer;
  background-color: #646464;
  &:hover {
    background-color: #4f4f4f17;
  }
}

.reaction-box__user {
  padding: 4px 8px 4px 8px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ff770011;
}

.reaction-box__user-dark {
  padding: 4px 8px 4px 8px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ff7800;
}

.chat-data__box {
  height: calc(100vh - 230px);
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-same__user {
  font-size: 13px;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 3px;
  margin-left: 54px;
  max-width: 255px;
}

.chat-user__name {
  font-weight: 500;
  cursor: pointer;
}

.avatar-user {
  cursor: pointer;
}

.send-btn {
  border-radius: 50%;
  // background-color: rgba(128, 128, 128, 0.185);
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 37px;
  cursor: pointer;
}

.title-chat-list {
  padding: 10px 10px 0px 10px;
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #4f4f4f;
  margin-left: -5px;
}

.list-separator {
  width: 100%;
  padding-bottom: 10px;
}

.description-chat__right-side {
  font-size: 14px;
  max-width: 230px;
  line-height: normal;
  text-align: center;
}

.username__right-side {
  font-size: 13px;
  color: #4f4f4f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55px;
}
