.community-container {
  margin-top: 30px;
}

.community-title {
  line-height: normal;
  color: #4f4f4f;
  margin-bottom: 12px;
  font-size: 24px;
  margin-left: 3px;
  @media screen and (max-width: 960px) {
    font-size: 22px;
    margin-left: 0px;
  }
}

.support-text {
  line-height: normal;
  font-size: 14px;
}

.community-card {
  background-color: #ff7800;
  padding: 20px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  line-height: normal;
}

.community-card__ko-fi {
  background-color: #e3d6c6;
  overflow: hidden;
  width: 100%;
  border: solid 2px #e3d6c6;
  font-weight: 500;
  height: 45px;
  max-height: 45px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  height: 100%;
  color: white;
}

.community-card__trakteer {
  background-color: #e50027;
  color: #fff;
  width: 100%;
  border: solid 2px #e50027;
  font-weight: 500;
  height: 45px;
  max-height: 45px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  height: 100%;
}

.ko-fi {
  color: #72a5f2;
  font-weight: 500;
}

.trakteer {
  color: #e50027;
  font-weight: 500;
}

.support-card {
  color: #4f4f4f;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 6px;
}

.discord {
  height: 44px;
  min-width: 44px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: #7085d3;
}

.community {
  width: 100%;
  height: 44px;
  background-color: white;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ff7800;
  border-radius: 6px;
}
