.hero-container {
  background-color: #004d40;
  width: 100%;
  height: 100%;
}

.hero-wrapper {
  max-width: 1350px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
