.hero-container {
  background-color: #002147;
  width: 100%;
  height: 100%;
}

.hero-wrapper {
  max-width: 1300px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 960px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }
}

.top-hero {
  margin-top: 50px;
  display: flex;
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 70px;
  padding: 0px;
  margin-left: -3px;
  line-height: normal;
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.carousel-controller {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 130px;
  width: 100%;
  border-radius: 30px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #bdc0d6;
  cursor: pointer;
  &:hover {
    background-color: #ff0000;
  }
}

.progress-container {
  width: 30px;
  background-color: #bdc0d6; /* Background for the progress bar */
  border-radius: 10px;
  overflow: hidden;
  height: 8px; /* Height of the progress bar */
}

.progress-bar {
  height: 100%;
  background-color: #ff0000; /* Color of the filling progress */
  width: 0; /* Start at 0% width */
  transition: none; /* Smooth transition */
}
