.game-title {
  line-height: normal;
  color: #4f4f4f;
  margin-bottom: 12px;
  margin-left: 3px;
  font-size: 24px;
  @media screen and (max-width: 960px) {
    font-size: 22px;
    margin-left: 0px;
  }
}

.list-image {
  height: 120px;
  max-width: 120px;
  @media screen and (max-width: 960px) {
    height: 90px;
    max-width: 90px;
  }
}

.game-image-container {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.image-title {
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: normal;
  @media screen and (max-width: 960px) {
    text-align: center;
    font-size: 13px;
    font-weight: normal;
  }
}

.game-grid-container {
  width: 100%;
}

.game-list-container {
  width: 100%;
}

.game-card {
  cursor: pointer;
  &:hover {
    .game-image {
      transform: scale(1.1);
      transition: 0.2s ease;
    }
    p {
      color: #ff7800;
      transition: 0.2s ease;
    }
  }
}

.more-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  @media screen and (max-width: 960px) {
    display: flex;
  }
}

@keyframes blink {
  0% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0.5; /* Fully invisible */
  }
  100% {
    opacity: 1; /* Fully visible again */
  }
}

/* Apply the animation to an element */
.blinking {
  animation: blink 2.5s infinite; /* 1 second duration, infinite loop */
}
