.app-bar-container {
  border-bottom: 1px solid #e4e4e4;
}

.drawer-active {
  border-bottom: none;
}

.app-bar-logo {
  max-height: 90px;
  min-width: 120px;
  max-width: 120px;
  @media screen and (max-width: 1080px) {
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
  }
}

.app-bar-content {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  @media screen and (max-width: 1080px) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.v-layout {
  @media screen and (max-width: 1080px) {
    z-index: auto !important;
  }
}

.navigation-drawer-content {
  @media screen and (max-width: 768px) {
    margin-top: -8px;
    height: calc(100vh - 55px) !important;
  }
}

.btn-header {
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #4f4f4f31;
  }
  @media screen and (max-width: 1280px) {
    &:hover {
      background-color: transparent;
    }
  }
}

.btn-header__notification-desktop {
  height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #4f4f4f31;
  }
  @media screen and (max-width: 1280px) {
    height: 35px;
    min-width: 35px;
    &:hover {
      background-color: transparent;
    }
  }
  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.btn-search {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.search-component {
  margin-top: 2px;
  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.btn-header__create {
  height: 40px;
  width: 100%;
  padding-left: 0px;
  padding-right: 4px;
  background-color: #f7f7f7;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: #4f4f4f31;
  }
}

.tab {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-active {
  cursor: pointer;
  border-bottom: 2px solid #ff7800;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-title {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}

.tab-title__active {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
}

.search {
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.badge-container {
  background-color: #ff7800;
  z-index: 1;
  border: 2px solid #fff;
  color: #ffffff;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  margin-top: -2px;
  margin-left: -9px;
  margin-right: -4px;
  max-height: 12px;
  min-width: 12px;
}

.tab-box {
  margin-left: 7px;
  font-family: 500;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
  height: 18px;
  width: 18px;
}

.tab-box__active {
  margin-left: 7px;
  font-family: 500;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7800;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
  height: 18px;
  width: 18px;
}

.layout-sidebar {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.mobile-left-navigation {
  display: none;
  margin-left: -4px;
  @media screen and (max-width: 1080px) {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
}

.dekstop-left-navigation {
  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.btn-drawer {
  width: 33px;
  height: 33px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -4px;
  @media screen and (max-width: 1080px) {
    margin-left: 0px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 0px;
  }
}

.profile-container {
  color: #4f4f4f;
  cursor: pointer;
  padding: 12px;
  .username {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2px;
  }
  .email {
    font-size: 13px;
    line-height: normal;
  }
}

.profile-list {
  padding: 12px;
  font-size: 14px;
  color: #4f4f4f;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  p {
    margin-left: 12px;
  }
  &:hover {
    background-color: #4f4f4f2d;
  }
}

.profile-list__user {
  padding: 12px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4f4f4f;
  p {
    margin-left: 12px;
  }
}

.profile-list__dark-mode {
  padding-left: 12px;
  font-size: 14px;
  color: #4f4f4f;
  display: flex;
  cursor: default;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  p {
    margin-left: 12px;
  }
}
