.app-bar__container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 960px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.side-bar {
  display: none;
  @media screen and (max-width: 1100px) {
    display: unset;
  }
}

.menu-btn {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.app-bar__active {
  border-bottom: 1px solid rgba(160, 160, 160, 0.292);
}

.app-bar__logo {
  max-height: 32px;
  min-width: 140px;
  max-width: 150px;
  margin-top: 6px;
  @media screen and (max-width: 960px) {
    max-height: 32px;
    min-width: 130px;
    max-width: 130px;
  }
}

.menu-btn .bar {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 960px) {
    height: 1.6px;
  }
}

.menu-btn .bar:nth-of-type(2) {
  top: calc(50% - 6.5px);
}

.menu-btn .bar:nth-of-type(3) {
  top: calc(50% + 6.5px);
}

.menu-btn.active .bar:nth-of-type(1) {
  opacity: 0;
  transition: 0.2s;
}

.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  transition: 0.2s;
  background-color: black;
}

.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transition: 0.2s;
  transform: translate(-50%, 0%) rotate(-45deg);
  background-color: black;
}

.btn-content {
  color: white;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  @media screen and (max-width: 960px) {
    font-size: 13px;
  }
}

.btn-content__active {
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid transparent;
  font-size: 14px;
  @media screen and (max-width: 960px) {
    font-size: 13px;
  }
}

.btn-content__sign-up {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.img-active {
  filter: grayscale(100%) brightness(0%);
}

.img-nonactive {
  filter: none;
}
