.app-bar__container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 960px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.side-bar {
  display: none;
  @media screen and (max-width: 1100px) {
    display: unset;
  }
}

.menu-btn {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.app-bar__active {
  border-bottom: 1px solid hwb(0 63% 37% / 0.292);
}

.app-bar__logo {
  max-height: 32px;
  min-width: 140px;
  max-width: 150px;
  margin-top: 6px;
  @media screen and (max-width: 960px) {
    max-height: 32px;
    min-width: 130px;
    max-width: 130px;
  }
}

.button-navigation {
  border: 1px solid #fff3;
  border-radius: 4px;
  padding: 4.3px;
}

.btn-content {
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  @media screen and (max-width: 960px) {
    font-size: 13px;
  }
}

.btn-content__black {
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  @media screen and (max-width: 960px) {
    font-size: 13px;
  }
}

.btn-content__active {
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid transparent;
  font-size: 14px;
  @media screen and (max-width: 960px) {
    font-size: 13px;
  }
}

.btn-content__sign-up {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.img-active {
  filter: grayscale(100%) brightness(0%);
}

.img-nonactive {
  filter: none;
}
