.timeline-container {
  margin-top: 30px;
}

.timeline-title {
  line-height: normal;
  color: #4f4f4f;
  font-size: 24px;
}

span {
  color: #ff7700;
}

.see-all {
  color: #ff7800;
  font-size: 13px;
  font-weight: 500;
}

.arrow-more {
  cursor: pointer;
}
