.footer-component {
  background-color: #002147;
  width: 100%;
  height: 100%;
}

.footer-wrapper {
  max-width: 1300px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 960px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }
}
