.chat-mobile-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  display: unset;
  z-index: 900;
}

.chat-mobile-box {
  height: calc(100vh - 64px);
  width: calc(100vw - 270px);
  background-color: white;
  border-radius: 0px;
  @media screen and (max-width: 1080px) {
    width: 100vw;
  }
}

.chat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  min-width: 30px;

  &:hover {
    background-color: #e4e4e4;
  }
}

.chat-topbar {
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.chat-box__variant {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100px;
  padding: 10px;
  border: 0.01px solid #e4e4e4;
  background-color: white;
  cursor: pointer;
}

.chat-box__content {
  display: flex;
  height: 100%;
  border-top: 0.01px solid #e4e4e4;
}

.chat-box__content-mobile {
  height: 100%;
  border-top: 0.01px solid #e4e4e4;
}

.chat-list {
  width: 100%;
  max-width: 220px;
  min-width: 220px;
  border-right: 1px solid #e0e0e0;
  overflow: auto;
  scrollbar-width: thin;
  max-height: calc(100vh - 64px);
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.chat-list__content {
  background-color: white;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.chat-list__content-mobile {
  background-color: white;
  width: 100%;
  display: unset !important;
  height: 100%;
}

.chat-list-content {
  cursor: pointer;
  border-radius: 4px;
  padding: 7px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #e4e4e4;
  }
}

.chat-list__team-content {
  cursor: pointer;
  border-radius: 4px;
  padding: 7px;
  user-select: none;
  &:hover {
    background-color: #e4e4e4;
  }
}

.chat-top__title {
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  p {
    font-size: 14px;
    font-weight: 500;
  }
}

.chat-content__box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-message {
  position: relative;
}

.action-chat {
  position: absolute;
  top: 0;
  right: 0;
  background: #f0f0f0;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.chat-bubbles {
  word-wrap: break-word;
  font-size: 14px;
  line-height: normal;
  width: 100%;
  position: relative;
  padding: 8px;
  display: flex;
  &:hover {
    background-color: #e4e4e43a;
  }
}

.action-hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.048), 0 2px 2px rgba(0, 0, 0, 0.048),
    0 4px 4px rgba(0, 0, 0, 0.048), 0 8px 8px rgba(0, 0, 0, 0.048);
  border-radius: 35px;
  padding: 5px;
  background-color: white;
  border: 1px solid #e4e4e43a;
}

.chat-text {
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 490px);
  border-top: 1px solid #e0e0e0;
  // border-left: 1px solid #e0e0e0;
  @media screen and (max-width: 1080px) {
    width: calc(100vw - 220px);
  }
  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}

.btn-action-hover {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #e4e4e4;
  }
}

.btn-action-hover__option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: #4f4f4f !important;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #e4e4e4;
  }
}

.btn-action-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: transparent !important;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #e4e4e4;
  }
}

.chat-bubles_same-person {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 100%;
  align-items: center;
  position: relative;
}

.chat-time__same-user {
  font-size: 11px;
  color: black;
  min-width: 48px;
  margin-left: 54px;
}

.reaction-box {
  padding: 4px 8px 4px 8px;
  border: 1px solid #4f4f4f49;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ffffff;
  &:hover {
    background-color: #4f4f4f17;
  }
}

.reaction-box__user {
  padding: 4px 8px 4px 8px;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ff770011;
}

.chat-data__box {
  height: 100%;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-user {
  font-size: 13px;
  margin-top: 4px;
  max-width: calc(100vw - 570px);
  width: 100%;
  word-wrap: break-word;
  @media screen and (max-width: 1080px) {
    max-width: calc(100vw - 300px);
  }
  @media screen and (max-width: 768px) {
    max-width: calc(100vw - 75px);
  }
}

.chat-same__user {
  font-size: 13px;
  word-wrap: break-word;
  margin-left: 48px;
  max-width: calc(100vw - 570px);
  width: 100%;
  margin-bottom: 3px;
  @media screen and (max-width: 1080px) {
    max-width: calc(100vw - 300px);
    margin-left: 44px;
  }
  @media screen and (max-width: 768px) {
    max-width: calc(100vw - 75px);
  }
}

.chat-user__name {
  font-weight: 500;
  cursor: pointer;
}

.avatar-user {
  cursor: pointer;
}

.title-chat-list {
  padding: 10px 10px 0px 10px;
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #4f4f4f;
  margin-left: -5px;
}

.chat-list__box-content-active {
  background-color: #e4e4e4;
}

.description-chat__right-side {
  font-size: 14px;
  max-width: 230px;
  line-height: normal;
  text-align: center;
}

.username__right-side {
  font-size: 13px;
  color: #4f4f4f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55px;
}

.chat-list__box-content {
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  // padding: 7px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: -1px;
  &:hover {
    .list-separator {
      border-bottom: 1px solid #e4e4e4;
    }
    background-color: #e4e4e4;
  }
}

.list-separator {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.mobile-close-btn {
  border-radius: 50%;
  height: 32px;
  min-width: 32px;
  background-color: #4f4f4f17;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.close-btn {
  border-radius: 50%;
  height: 35px;
  min-width: 35px;
  background-color: #4f4f4f17;
  display: flex;
  align-items: center;
  justify-content: center;
}
